%header.header
  .header__navbar
    .header__navbar__logo
      %a.logo-button{href: "#"}
        %img.logo-image{src: "assets/booklog.png"}
    %ul.header__navbar__contents-links
      %li.contents-link-list
        %a.contents-link-button{href: "#"} ランキング
      %li.contents-link-list
        %a.contents-link-button{href: "#"} 新刊情報
      %li.contents-link-list
        %a.contents-link-button{href: "#"} 談話室
      %li.contents-link-list
        %a.contents-link-button{href: "#"} まとめ
    .header__navbar__search-form
      %form.header-search-form
        %input.search-field{placeholder: "作者・著者名で検索して本棚登録", type: "text"}
        %i.fa.fa-question-circle.help-icon
        %button.search-button{type: "submit"}
          %i.fa.fa-search.search-icon
    .dropdown-list
      .header__navbar__useful-links
        %a{href: "#"}
          %i.fa.fa-bars.menu-icon
      %span.menu-partition
      .header__navbar__timeline
        %a{href: "#"}
          %i.fa.fa-clock-o.clock-icon
      .header__navbar__shelf
        %a{href: "#"}
          %i.fa.fa-th.shelf-icon
      .header__navbar__home
        %a{href: "#"}
          %i.fa.fa-home.home-icon
      .header__navbar__user-links
        %a{href: "#"}
          %img.user-detail{src: "assets/prof_noimage.gif"}
  .header__notification
    %ul.notification-message-wrapper
      %li
        %img.notification_tag{src: "assets/new_tag.png"}
      %li
        %a.notification_message{href: "#"} 重版決定！人の本棚を覗き見しちゃう『絶景本棚』が急上昇！
.main-wrapper.clearfix
  .main-navbar
    %a.main-navbar__link{href: "#"}> ブクログ
    ＞teamEさんのホーム
  .main-contents.clearfix
    .contents-left
      .user-wrapper
        .user-profile-wrapper.clearfix
          .user-profile-left
            %img.user-avatar{src: "assets/prof_noimage.gif"}/
            %ul.user-nav
              %li
                %a{href: "#"}
                  %i.fa.fa-th
              %li
                %a{href: "#"}
                  %i.fa.fa-bars
              %li
                %a{href: "#"}
                  %i.fa.fa-user
              %li
                %a{href: "#"}
                  %i.fa.fa-ellipsis-h
          .user-profile-right
            .user-shelf
              .page-title-tag.clearfix
                %p.page-title プロフィール
                .setting-icon-wrapper
                  %a{href: "#"}
                    %i.fa.fa-cog.setting-icon
              %p.user-shelf-name
                teamEさんの本棚
            %ul.user-activity
              %li
                %p 登録アイテム
                %a{href: "#"} 100
              %span.menu-partition
              %li
                %p レビュー
                %a{href: "#"} 100
              %span.menu-partition
              %li
                %p レビュー率
                %p.number 100%
              %span.menu-partition
              %li
                %p フレーズ
                %p.number 100
            .user-social
              %span.follow-button
                あなたの本棚
              %ul.follows
                %li
                  = link_to '100フォロー', '#'
                %li
                  = link_to '100フォロワー', '#'
                .social-SNS
      %p.description teamEさんの本棚の状態や通知を確認できます。
      .contents-search-form.clearfix
        = form_tag "/" do
          = text_field_tag :name, '', placeholder: '作品・著者名で検索して本棚登録'
          = select :books, :name, ["amazon.jp", "amazon.com"]
          = select :books, :name, ["本", "Kindleストア", "洋書", "DVD", "音楽", "ゲーム", "すべての商品"]
          %button.main-search-button
            %i.fa.fa-search.search-icon
      %p.reading-status-title 読書状況
      .mybooks-by-reading-status
      .tab-menu.clearfix
        %ul
          %li.current 興味グラフ
          %li.friend-time-line 友だちのタイムライン
          %li.my-time-line あなたのタイムライン
      .timeline
        %ul.timeline-list
          %li
            .contents-header
              .thumbnail-wrapper
                = image_tag "/assets/prof_noimage_thumbnail"
              .timeline-notice
                = link_to 'teamE', "#", class: "user-link"
                さんが
                = link_to 'ブクログ', '#', class: "book-link"
                の
                = link_to 'レビュー', '#', class: "review-link"
                を書きました。
                %span.timestamp
                  1時間前
            .contents-body-wrapper
              .contents-body
                .body-inner
                  .book-info.clearfix
                    = image_tag '/assets/book_example.jpg'
                    %ul
                      %li.book-title 何者
                      %li.book-rate
                        %span.review-number
                          1000人が登録
                        %span.rate
                          ★5.00
                      %li.book-detail 著者/ブクログ/ブクログ社/本/2018年3月3日
                  .review
                    .review-body 12月15日『王様のブランチ』で紹介されて、面白そうだから予約しました。作家として順調にすすんでいる朝井リョウさんが自身の就活をもとに書いたものと記憶しています。そうしたら今年になって早々に【直木賞】を受賞しました！平成生まれ初！今まで直木賞の作品を読んだことあるかな？と調べたら『蒲田行進曲』『容疑者Xの献身』を映画で見ただけでした。面白かったですよ。福山雅治さんかっこいいし。小説読んでから映画見るとがっかりすることが多いので、人気のある小説は映画ですませてしまいます。でも今回この本を読んでみたら、最初から面白かったし、加速度的に面白くなっていくし。ああ、高く評価される小説ってこんななんだなあって思いました。これからは映画ですませないで、ちゃんと読もうっと。内容はひとことでいえば、「就活すると成長する」とだけにしておきます。彼にはこれからも経験をもとにした作家活動を続けてほしいな。
                    .review-footer
                      %p.rate
                        ★★★★★
                      = link_to '詳細・コメントする', '#'
                  .like-wrapper
                    %a
                      = image_tag '/assets/like.png'
                    %span.like-counter
                      100
    .contents-right
      .advertisement.clearfix
        %img{src: "assets/ad.jpeg"}/
      .side-menu
  %footer.footer
    .nav-wrapper
      %nav
        %ul
          %li
            %h3 本と出会う
            %ul
              %li
                %a.footer-link{href: "#"}
                  ランキング
              %li
                %a.footer-link{href: "#"}
                  新刊情報
              %li
                %a.footer-link{href: "#"}
                  新着レビュー
              %li
                %a.footer-link{href: "#"}
                  ブクログ談話室
              %li
                %a.footer-link{href: "#"}
                  ブクログ大賞
              %li
                %a.footer-link{href: "#"}
                  ブクログまとめ
              %li
                %a.footer-link{href: "#"}
                  ブクログ特集
              %li
                %a.footer-link{href: "#"}
                  ブクログ通信
          %li
            %h3 本を探す
            %ul
              %li
                %a.footer-link{href: "#"}
                  本を探す
              %li
                %a.footer-link{href: "#"}
                  本棚を探す
              %li
                %a.footer-link{href: "#"}
                  ブクログ
            %h3 本棚を探す
            %ul
              %li
                %a.footer-link{href: "#"}
                  本を探す
              %li
                %a.footer-link{href: "#"}
                  プロフィールから本棚を探す
              %li
                %a.footer-link{href: "#"}
                  ブクログ
            %h3 ブクログ
            %ul
              %li
                %a.footer-link{href: "#"}
                  本を探す
              %li
                %a.footer-link{href: "#"}
                  本棚を探す
              %li
                %a.footer-link{href: "#"}
                  ブクログ
          %li
            %h3 公式本棚
            %ul
              %li
                %a.footer-link{href: "#"}
                  公式本棚
              %li
                %a.footer-link{href: "#"}
                  ようこそブクログへ
            %h3 ようこそブクログへ
            %ul
              %li
                %a.footer-link{href: "#"}
                  公式本棚
              %li
                %a.footer-link{href: "#"}
                  ようこそブクログへ
          %li
            %h3 サポート
            %ul
              %li
                %a.footer-link{href: "#"}
                  お知らせブログ
              %li
                %a.footer-link{href: "#"}
                  ヘルプ
              %li
                %a.footer-link{href: "#"}
                  お問い合わせ
        .banner-wrapper
          = image_tag '/assets/ad2.png'
          = image_tag '/assets/banner.png'
      .footer-navi
        %ul
          %li 利用規約
          %span.menu-partition
          %li Cookieの使用について
          %span.menu-partition
          %li 会社概要
          %span.menu-partition
          %li プライバシーポリシー
        .copyright
          Copyright © 2018 Booklog,Inc. All Rights Reserved.

