.main-wrapper.clearfix
  .main-navbar
    %a.main-navbar__link{href: "#"}> ブクログ
    ＞teamEさんのホーム
  .main-contents.clearfix
    .contents-left
      = render "shared/profile"
      %p.description teamEさんの本棚の状態や通知を確認できます。
      .contents-search-form.clearfix
        = form_tag(search_books_path, method: "get") do
          = text_field_tag :name, "", placeholder: '作品・著者名で検索して本棚登録'
          = select :books, :name, ["amazon.jp", "amazon.com"]
          = select :books, :name, ["本", "Kindleストア", "洋書", "DVD", "音楽", "ゲーム", "すべての商品"]
          %button.main-search-button
            %i.fa.fa-search.search-icon
      %p.reading-status-title 読書状況
      .mybooks-by-reading-status
      .tab-menu.clearfix
        %ul
          %li.current 興味グラフ
          %li.friend-time-line 友だちのタイムライン
          %li.my-time-line あなたのタイムライン
      .timeline
        %ul.timeline-list
          %li
            .contents-header
              .thumbnail-wrapper
                = image_tag "/assets/prof_noimage_thumbnail"
              .timeline-notice
                = link_to 'teamE', "#", class: "user-link"
                さんが
                = link_to 'ブクログ', '#', class: "book-link"
                の
                = link_to 'レビュー', '#', class: "review-link"
                を書きました。
                %span.timestamp
                  1時間前
            .contents-body-wrapper
              .contents-body
                .body-inner
                  .book-info.clearfix
                    = image_tag '/assets/book_example.jpg'
                    %ul
                      %li.book-title 何者
                      %li.book-rate
                        %span.review-number
                          1000人が登録
                        %span.rate
                          ★5.00
                      %li.book-detail 著者/ブクログ/ブクログ社/本/2018年3月3日
                  .review
                    .review-body 12月15日『王様のブランチ』で紹介されて、面白そうだから予約しました。作家として順調にすすんでいる朝井リョウさんが自身の就活をもとに書いたものと記憶しています。そうしたら今年になって早々に【直木賞】を受賞しました！平成生まれ初！今まで直木賞の作品を読んだことあるかな？と調べたら『蒲田行進曲』『容疑者Xの献身』を映画で見ただけでした。面白かったですよ。福山雅治さんかっこいいし。小説読んでから映画見るとがっかりすることが多いので、人気のある小説は映画ですませてしまいます。でも今回この本を読んでみたら、最初から面白かったし、加速度的に面白くなっていくし。ああ、高く評価される小説ってこんななんだなあって思いました。これからは映画ですませないで、ちゃんと読もうっと。内容はひとことでいえば、「就活すると成長する」とだけにしておきます。彼にはこれからも経験をもとにした作家活動を続けてほしいな。
                    .review-footer
                      %p.rate
                        ★★★★★
                      = link_to '詳細・コメントする', '#'
                  .like-wrapper
                    %a
                      = image_tag '/assets/like.png'
                    %span.like-counter
                      100
    = render "shared/side"
  %aside.ad-footer
    .ad-728-90
